<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>
    <!-- <div class="navbar navbar-inverse navbar-fixed-top"> -->
    <div class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/adm" class = "navbar-brand"><span class="material-symbols-outlined">
                    home
                    </span></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/adm/adm-cliente">Clientes</a></li>
                    <li><a>Quartos</a></li>
                    <li><a>Reservas</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <h2>Lista de clientes</h2>

<p>
    <a href="/adm/adm-cliente-novo" class="btn btn-success"> Novo</a>
</p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome de Usuário</th>
        <th>E-mail</th>
        <th>CEP</th>
        <th>Imagem de Perfil</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    
        <%   users.forEach(function(user){ %>
            <tr>
        <td><%=user.id_usuario %></td>
        <td><%=user.nome_usuario %></td>
        <td><%=user.email_usuario %></td>
        <td><%=user.cep_usuario %></td>
        <td>
            <%=user.img_perfil_banco %>
        </td>
        <td><%=user.status_usuario %></td>
        <td>
            <a href="/adm/adm-cliente-edit?id=<%=user.id_usuario %>" class="btn btn-warning"> Editar</a>
            <a href="/adm/adm-cliente-list?id=<%=user.id_usuario %>" class="btn btn-info"> Detalhes</a>
            <a href="/adm/adm-cliente-del?id=<%=user.id_usuario %>" class="btn btn-danger"> Excluir</a>
        </td>
    </tr>
        <% }); %>
  

</table>
        <hr />
        <footer>
            <p>&copy;2023 - Hotel IceTown</p>
        </footer>
    </div>
</body>
</html>